.postCard {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--shadow);
  box-shadow: 2px 2px 8px var(--shadow);
  background-color: white;
  width: 520px;
  border-radius: 8px;
  padding: 24px;
}

.postCard header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.postCard .media {
  height: 300px;
}
.postCard .author {
  display: flex;
}

.postCard .authorInfo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 16px;
}

.postCard main {
  margin-bottom: 20px;
  word-wrap: break-word;
}
.postCard footer {
  display: flex;
  justify-content: space-around;
}
.postCard .reaction {
  display: flex;
}
.postCard .reaction > :first-child {
  margin-right: 8px;
}

.contenedorPopOut {
  padding: 16px;
  display: flex;
  gap: 8px;
}

.contenedorTextos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.contenedorSecciones {
  display: flex;
  gap: 8px;
}
.contenedorBotones {
  display: flex;
  gap: 8px;
}
.boton1 {
  width: 150px;
}
.boton2 {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton3 {
  width: 50px;
}
.cajaComentarios {
  display: flex;
  align-items: center;
  gap: 4px;
}
.contenedorComentarios {
  display: flex;
  flex-direction: column;
  padding: 12px 0 12px 8px;
  gap: 16px;
}
.comentarios {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 600px) {
  .postCard {
    width: 100%;
  }
}
