.avatar {
  border-radius: 50%;
  cursor: pointer;
}

.sm {
  width: 2rem;
  height: 2rem;
}

.md {
  width: 3rem;
  height: 3rem;
}

.lg {
  width: 4rem;
  height: 4rem;
}

.xlg {
  width: 5rem;
  height: 5rem;
}

.bordered {
  border: 4px solid var(--success);
}
