.popOut {
  position: relative;
  z-index: 100000;
}

.container {
  display: flex;
  width: fit-content;
}

.children {
  position: absolute;
  width: 350px;
  height: 250px;
  box-shadow: 0 0 16px var(--shadow);
  border-radius: 8px;
  padding: 8px;
  background-color: var(--bg-light);
}
