.textButton {
  border-radius: 8px;
  width: 100%;
  padding: 8px 0px;
  cursor: pointer;
}

.fulled.primary {
  background: var(--primary);
}
.fulled.primary > p {
  color: var(--textLight);
}

.fulled.secondary {
  background: var(--secondary);
  color: var(--textLight);
}

.bordered.primary {
  border: 1px solid var(--primary);
  color: var(--primary);
}
.bordered.secondary {
  border: 1px solid var(--secondary);
  color: var(--secondary);
}
