.nav {
  padding: 8px;
  box-shadow: 0px 2px 8px gainsboro;
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.sections {
  display: flex;
}

.sections > *:not(:last-child) {
  margin-right: 24px;
}

.section {
  padding-bottom: 8px;
  cursor: pointer;
}

.section.current {
  border-bottom: 2px solid var(--primary);
}
.options {
  display: flex;
  align-items: center;
}
.options > *:not(:last-child) {
  margin-right: 8px;
}
.logo {
  width: 3rem;
  filter: drop-shadow(0 0 8px #65f7ef);
}
.menuDrawer {
  padding: 8px;
}

.avatar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  margin-bottom: 4px;
  cursor: pointer;
}
.avatar:hover {
  background-color: #b6b8bd;
  border-radius: 8px;
}

.botones {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 4px;
}
.botones:hover {
  background-color: #b6b8bd;
}

.icono {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #d8dadf;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  .nav {
    justify-content: space-around;
  }
  .logo {
    display: none;
  }

  .profile {
    display: none;
  }
}
