.drawer {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(53, 53, 53, 0.308);
  transition: all 0.2s ease-out;
  visibility: hidden;
  opacity: 0;
  z-index: 100000;
}
.drawer.show {
  visibility: visible;
  opacity: 1;
}
.container {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 300px;
  height: 100%;
  transform: translateX(100%);
  background-color: white;
  transition: all 0.2s ease-out;
}
.drawer.drawer.show .container {
  transform: translateX(0);
}
.close {
  position: absolute;
  right: 5%;
  top: 5%;
  cursor: pointer;
}
