@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  font-family: "Inter", sans-serif;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}
input {
  border: transparent;
  background: none;
}
input:focus {
  outline: none;
}
:root {
  --bg-light: #fdfdfd;
  --dark-transparent: rgba(36, 36, 36, 0.397);
  --textDark: #222;
  --textLight: #eee;
  --primary: #EF2E24;
  --primary-light: #f1473e;
  --secondary: #ff35c2;
  --secondary-light: #ff7dd8;
  --success: #4fa8fb;
  --black: var(--textDark);
}

@media screen and (max-width: 480px){

  html,body{
    font-size: 12px;
  }
}
