.contenedor {
  box-shadow: 2px 2px 8px gainsboro;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
  width: 520px;
}

.contenedorGeneral {
  display: flex;
  padding: 8px;
  gap: 8px;
}
.textArea {
  width: 100%;
}

.contenedorConjuntoGeneral {
  display: flex;
  margin: 8px;
}

.contenedorConjunto {
  display: flex;
  padding: 8px;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  cursor: pointer;
}

.contenedorConjunto:hover {
  background-color: #dfe0e2;
}

.perfil {
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.contenedorTexto {
  display: flex;
  flex-direction: column;
}

.areaTexto {
  padding: 8px;
  height: 150px;
}
